<script>
    $(function () {
        $('#nav_mypage_sln_edit_card').appendTo($('body > div.ec-layoutRole > div.ec-layoutRole__contents > main > div > div.ec-mypageRole > div.ec-navlistRole > ul'));
    });
</script>
<li id="nav_mypage_sln_edit_card" class="ec-navlistRole__item">
    <a href="{{ path('sln_edit_card') }}">登録済カード情報編集</a>
</li>
