{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
<div class="ec-role">
    <div class="ec-pageHeader">
        <h1>{{ '利用規約'|trans }}</h1>
    </div>
    <div class="ec-off1Grid">
        <div class="ec-off1Grid__cell">
{{ '
株式会社アセンテジャパン（以下「当社」といいます）は、当社の運営するウェブサイト「王の洞窟トレカ通販（https://ounodoukutsu.jp/shop_toreca/）」（以下「当社サイト」といいます）を適正かつ円滑に運営し、お客さまにそのサービスを快適にご利用いただくため、本規約を定めます。
お客さまが当社サイトを利用されるにあたっては、「本規約」および、サイト上に記載の「ご利用ガイド」をよくご確認ください。お客さまが当社サイトを利用された場合、「本規約」および「ご利用ガイド」の内容に同意されたものとみなします。

■第一章　会員規約■

第1条（会員）
・会員とは当社が選定する各種サービスを受けるために、本規約に同意の上、所定の手続きにより会員登録を申し込み、当社が承諾した個人をいいます。 
・登録手続きは登録をされるご本人（個人）が行うものとします。また、登録において登録されるご本人の正しい情報のみを登録できるものとし、一部または全部を問わず、虚偽の情報、第三者の情報、存在しない情報の登録はその一切を認めないものとします。
・会員登録を完了した利用者は、登録された情報の内容に変更があった場合には、当社が指示する方法により速やかに情報変更の手続きを行うものとします。変更をされないことにより、利用者が不利益を被ったとしても当社は一切その責任を負いません。
・未成年の場合は保護者に当社での商品の購入・買取の承諾を得ているものとする。（承諾を得た場合のみ規約に同意してください）
・お一人様に対し１件のみ会員登録ができるものとし、会員の重複登録はできません。二重登録してしまった場合は重複登録の削除申請を行ってください。

第2条（会員個人情報）
当社は、利用者の個人情報を、別途定めるプライバシーポリシーに従い利用・管理するものとします。
・当社サイトに登録したアカウント及びパスワードの管理と、その使用に関しての責任は全て会員が負うものとします。 
・アカウント及びパスワードの譲渡、売買、貸与等の行為は一切禁止します。 
・当社は、会員によるパスワードの使用上の過失及び第三者の利用に伴う損害の一切の責任を負わないものとします。パスワードを用いて会社に対して行われた意思表示は、このパスワードに該当する有効な会員の意思表示とみなします。
・会員登録情報は、当社が所有するものとし、個人が特定できる情報（氏名・住所・電話番号・メールアドレス）については、本サービス提供に必要な範囲内での委託先への預託の他、会員本人による開示の承諾があるものを除き、原則として、社外への提供は行わないこととします。 
・前項にかかわらず、以下の場合については、当該会員の同意なく会員登録情報の一部（氏名・住所）を開示することがあります。 
（1）当社及び他の会員もしくは第三者に不利益を及ぼすと判断した場合、警察または関連諸機関に開示する場合 
（2）警察、裁判所、検察庁、弁護士会、消費者センターまたはこれらに準じた権限を有する機関から、登録情報の開示を求められた場合、当社がこれに応じることを判断した場合
（3）その他当社が開示を相当であると判断した場合

第3条（アカウント削除）
・利用者が、アカウント削除を希望する場合には、アカウントを所持しているご本人が本サイトのマイページよりアカウント削除の手続きをおこなうものとします
・削除手続き完了後にアカウント削除となり、それ以前に提供されていたサービスおよび権利は一切無効となるものとします
・アカウント削除した利用者が再度アカウント登録を行ったとしても、前回の履歴、権利などを引き継ぐことはできないものとします

第4条（アカウントの取消）
当社は、次の各号に該当した場合には利用者の事前の承認を得ることなく、直ちに利用者のアカウントを取り消すことができるものとします。
アカウントの取り消しがあった場合は、それ以前に提供されていたサービスおよび権利は一切無効となるものとします。また、アカウントの取り消しがあった場合には、それ以降再度のアカウント登録は受け付けないものとします。
・次項【禁止事項】の各号に該当する行為があった場合
・その他、当社がアカウント登録をしていただくにあたり、不適当と認める事項がある場合
・その他、本規約等に違反した場合
・アカウント情報のセキュリティを確保するために必要な場合
・手段の如何を問わず、当社または本サービスの運営を妨害した場合
・過去に本規約違反等の理由によりアカウントを抹消されていることが判明した場合

第5条（禁止事項）
当社サイトのご利用に関し、次の各号の行為を行うことを禁止します。
・当社及び他のお客さま、もしくはその他の第三者の権利、利益、名誉等を損ねること
・当社サイトの運営を妨げ、サービスの提供に支障をきたす恐れのある行為・真に購入する意思なく商品を注文すること
・他人になりすまして取引を行うこと、虚偽の情報を入力すること
・会員の重複登録や会員登録を繰り返すこと。またそれにより繰り返し特典を受ける行為
・法令に違反すること、公序良俗に反すること
・当社が定める各種規約・規定に違反すること
・登録手続きを含めた当社が行う全てのアンケートに対し、虚偽の回答を行う行為 
・有害なコンピュータープログラム等を送信又は書き込む行為 
・その他当社が不正と定めること

■第二章　ポイント規約■

当社は、本規約に基づいて当社サイトに会員登録をした会員（以下「会員」といいます）に対して、ポイントサービスを提供いたします。

第1条（ポイントの付与）
・当社は会員が当社サイトにおいて販売する商品を購入する場合・買取をポイントに変換する場合に、当社が定める付与数または付与率に従いポイントを付与します。
・ポイントは当社サイト以外の他のサイトの利用に対しては付与されません。 
・当社はポイントの付与、付与数、付与率、付与のタイミング、ポイントの無効、無効のタイミングなどのポイントに関する条件すべてを決定する権利を保有します。利用者は当社の決定に従うものとします。 
・ポイントで支払った場合も、商品価格のみがポイントの付与対象金額となります。 
・ポイントの付与対象金額には、ギフトラッピング料、配送料、代引手数料等は含まれません。 
・商品がキャンセルまたは返品された場合、その注文に対して付与された仮ポイントは消滅します。

第2条（ポイントの利用）
・会員は、当社が定める方法により、保有するポイントを、当社が定める換算率（1ポイント＝1円）で、当社サイトが販売する商品の決済代金（商品代金、配送料、手数料または消費税を含みます。以下同じ）の全部または一部の支払方法として利用することができます。
・当社は、前項のポイント利用の対象となるサービス・商品等を制限したり、ポイント利用に条件を付したりすることがあります。
・第三者による不正使用が発生した場合でも、当社のアカウントのEメールアドレスに付随するパスワードが正確に入力されている限り、当社は使用されたポイントを返却せず、当社は、これらに関連して一切責任を負わないものとします。
・ポイントを利用して支払った商品を、キャンセルまたは返品した場合、その注文で支払いとして利用したポイントは、当社が定める規則に従って一部または全部が返却されます。返却されたポイントは、ポイントが使われた当社のアカウントに戻るものとします。 
・ポイントを支払いに利用した後に、ポイントの利用だけを取り消すことはできません。 
・当社は、1回の注文に使えるポイントの下限、上限、1ヶ月間に使えるポイントの上限など、利用に制限を設ける権利を有します。また、この制限は、予告なく変更または追加される場合がありますが、利用者は、いずれの場合についても、当社の決定に従うものとします。

第3条（ポイントの有効期限と失効）
・ポイントは、最後に注文を確定した日から1年間有効です。新たに注文を確定するたびに、ポイント残高全額の有効期限が、その日から1年間延長されます。 
・1年間、当社サイトで商品を購入しなかった場合、アカウントに貯まったすべてのポイントが失効します。
・失効したポイントは利用できません。 
・当社は、失効したポイントについて何らの補償も行わず、一切の責任を負いません。

第4条（ポイントの照会）
・ポイントの利用または残高などの履歴は、当社サイトのマイページで照会できます。 
・マイページの情報の更新には多少時間がかかる場合があります。 
・ポイントの残高などに関して不明な点がある場合は、速やかに当社に問い合わせてください。ただし、最終的な判断は当社が行い、利用者はこの判断に従うものとします。

第5条（ポイントの無効処理）
・ポイントが付与された後に、注文した商品のキャンセルまたは返品があった場合には、当社は既に付与したポイントを利用者のアカウントから差し引くか、またはポイント相当金額を返金額から差し引くことができるものとします。この場合、不足があれば、当社は当該不足分相当金額を利用者に対して請求できるものとします。 
・当社は、違法または不正行為、本規約、利用規約その他の規約またはルール等の違反行為、その他当社がその裁量により付与を無効にすることが適当と判断したポイントの獲得に対し、当該ポイントを利用者のアカウントから差し引くか、またはポイント相当金額を利用者に対して請求できるものとします。 
・当社は、特段の意思表示を要することなく、(a)利用者に送金または支払うべきあらゆる金額から、1項又は2項に基づく請求可能金額を相殺することができ、 (b) 1項又は2項に基づく請求可能金額を、利用者へ将来送金または支払うべき金額からの控除、取り戻し、ポイント保有者のクレジットカードへの請求、またはその他の法的手段により、決済することができるものとします。（この場合、利用者は現存利益の限度でのみ支払う旨の抗弁は認められないものとします）利用者は、当社から請求書を受領したときは、受領してから30日以内に、速やかに当該金額を支払うものとします。 
・無効になったポイントについて、当社は何らの補償も行わず、一切の責任を負いません。

第6条（注意事項）
・ポイントを現金に交換することはできません。 
・ポイントの転売その他譲渡等の処分は固くお断りします。 
・ポイントは保有者本人が利用するものとし、本人以外の第三者が利用することはできません。 
・複数のアカウントを保有している場合であっても、他のアカウントのポイントと合算して利用することはできません。 
・当社は、違法または不正行為、本規約、利用規約その他の規約またはルール等の違反行為、その他当社が当該ポイントの利用を許容できないと判断した場合には、当該ポイントを無効にし、かつ、ポイントによって充当した代金相当額の支払いを要求できるものとします。この場合、利用者は当社の決定に従うものとします。 
・当社は、違法または不正行為、本規約、利用規約その他の規約またはルール等の違反行為その他ポイントの正当な利用を疑わせるような事由が発生した時は、ポイントの利用およびポイントを利用した取引を中止、保留または取消すことができるものとします。 
・ポイントは、本規約を含む当社が定める条件および方法によってのみご利用いただけます。ポイントの趣旨または規約にそぐわない方法でのポイントの利用は固くお断りします。

■第三章　一般規定■

第1条（規約の遵守）
・お客さまは当社サイトのご利用にあたり、「本規約」および「ご利用ガイド」の内容を遵守するものとします。
・万一「本規約」および「ご利用ガイド」の内容に違反された場合、当社はお客さまによるお取引の停止や、以後のご利用をお断りできるものとします。

第2条（個別の規定）
・当社サイトの各サービスのご利用にあたり、個別の規定を定める場合がございます。その場合は各規定への同意がご利用の条件になります。

第3条（サービス内容の変更、停止） 
・当社は、会員への事前通知、承諾なしに本サイトのサービス内容を変更、または中止する場合があります。 
・前項に基づき、サービス内容を変更・中止した場合といえども、会員に不利益、損害が生じた場合、当社は、その責任を免れるものとします。 
・当社は、一定の予告期間をもって本サイトのサービス停止を行う場合があります。 

第4条（著作権）
・当社サイト上にて提供している全ての情報および画像の著作権は、当社または情報提供者に帰属します。

第5条（免責）
・当社は、当社サイト上のサービスのうち、全部または一部を適宜変更・廃止できるものとし、これによりお客さまに生じた損害について、一切責任を負わないものとします。
・当社は、当社サイト上で無償にて提供する情報の内容について、その真偽、正確性、最新性、有用性、信頼性、適法性、第三者の権利を侵害していないこと等について一切保証いたしません。
・当社は、通信回線やコンピュータ等の障害によるシステムの中断・遅滞・中止・データの消失、データへの不正アクセスにより生じた損害、その他当社サイトのサービスに関してお客さまに生じた損害について、一切責任を負わないものとします。
・当社は、当社の過失によりご注文いただきました商品の販売価格に誤りがあった場合、お客様の同意の可否、承認の可否に関わらず一方的にご注文を解約することができるものとします。また、この際にお客様に直接的、間接的に生じた損害に関して、一切の責任を負わないものとします。

第6条（本規約などの変更）
・当社は「本規約」および「ご利用ガイド」の内容を適宜改定できるものとします。
・「本規約」および「ご利用ガイド」の内容の改定は、当社サイト上への掲示をもって効力を発生するものとし、以降の本サイトの利用については改定後の「本規約」および「ご利用ガイド」の内容が適用されるものとします。

第7条（その他）
・お客さまと当社との関係につきましては日本法が適用されるものとします。
・お客さまと当社との間に万一紛争が発生した場合、両者誠意を持ってその解決に努めるものとしますが、やむを得ず訴訟を必要とする場合は岐阜地方裁判所を第一審の専属的合意管轄裁判所とします。

'|raw|nl2br }}
        </div>
    </div>
</div>
{% endblock %}