{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'プライバシーポリシー'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <p>
                    株式会社アセンテジャパン（以下、当店といいます）では、個人情報の保護に関する法令を遵守するとともに、 以下のポリシーに基づき、お客様の個人情報を取り扱います。
                </p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">1.個人情報とは？</div>
                <p>個人に関する情報で、氏名、住所、電話番号、メールアドレス、購入履歴など個人を特定できる情報、またはその可能性のある情報の事です。また、他の情報との組み合わせによって個人が特定できる情報も含みます（業種等）。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">2.個人情報の収集について</div>
                <p>通常、王の洞窟オンラインストア（以下、当サイトといいます）を閲覧する場合、お客様に関するいかなる情報も入力や開示する必要はございませんので、匿名のままご自由にご利用いただけます。但し、会員登録や商品購入時、お問合せ時、商品レビュー等で、お客様の氏名、住所、電話番号、メールアドレス等の入力をお願いしております。それらの情報の利用目的につきましては、「3.個人情報の利用目的について」を、管理につきましては、「4.個人情報の管理について」をご参照下さい。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">3.個人情報の利用目的について</div>
                <p>当店は個人情報を以下の目的で利用させていただきます。 　a.お客様への商品の発送および代金の請求また、代金のお支払いに関連してご指定いただいたクレジットカード番号、銀行口座などのお支払情報等。 　b.ご注文の内容や配送方法などのご確認。 　c.当店が行うキャンペーンや商品、サービスのご案内。 　d.お客さまから寄せられたご意見やアンケートの結果、ご利用履歴等。 　e.次回の会員ログインが容易に行えるよう、ログイン情報の保持の為。Cookieを使用しており、保持するか否かはお客様で任意に選択可。 　f.その他サイト運営上必要な場合に利用。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">4.個人情報の管理について</div>
                <p>当店は以下の体制で個人情報を管理します。 a.個人情報の利用を業務上必要な者だけに制限し、個人情報が含まれる内容の管理を徹底致します。 但し、お客様へ商品やサービスを提供する等の業務遂行上、個人情報の一部を外部の委託先へ提供する場合があります。その場合、業務委託先が適切に個人情報を取り扱うように管理いたします。 b.不要になった個人情報は、随時削除していきます。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">5.個人情報の開示について</div>
                <p>当店は、お客様の同意がない限り、個人情報を第三者に開示することはありません。ただし、以下の事例に該当する場合はその限りではありません。 　a.官庁、裁判所、検察官、警察、弁護士会、消費者センター、またはそれらに準じる権限を有する機関から要請があった場合。 　b.法令に特別の規定がある場合。 　c.法令や当店のご利用規約・注意事項に反する行動から、当店の権利、財産またはサービスを保護または防禦する必要があり、本人の同意を得ることができない場合。 尚、商品の配送等、お客様との取引を行うにあたり、運送業者等の必要な外部委託を行う場合は第三者提供にはあたりません。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">6.適用範囲</div>
                <p>以上のプライバシーポリシーに関する適用範囲は、当サイト内において適用されます。原則として「https://ounodoukutsu.jp/shop_toreca/」を含むページが当サイト内となります。</p>
            </div>
        </div>
    </div>
{% endblock %}