{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ '会社概要'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            <label class="ec-label">社名</label>
                        </dt>
                        <dd>株式会社アセンテジャパン</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">設立</label>
                        </dt>
                        <dd>1994年1月31日</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">所在地</label>
                        </dt>
                        <dd>
岐阜県羽島郡岐南町下印食3-30 とらでんビル3F
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">代表電話番号</label>
                        </dt>
                        <dd>058-277-9050</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">代表FAX番号</label>
                        </dt>
                        <dd>058-277-9051</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">代表者氏名</label>
                        </dt>
                        <dd>関根　謙太郎
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">従業員数</label>
                        </dt>
                        <dd>500名</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">従業員平均年齢</label>
                        </dt>
                        <dd>33歳</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">業務内容</label>
                        </dt>
                        <dd>ホビー・古着・ブランド・総合リサイクルショップ経営<br />
本・ゲーム・ＤＶＤ・パソコンソフトの販売･買取<br />
外食事業の運営<br />
リラクゼーションサロンの運営<br />
インターネット通販事業の運営<br />
障がい者就労支援事業の運営
</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">顧問弁護士</label>
                        </dt>
                        <dd>宮道佳男法律事務所<br />弁護士　稲垣 智彦</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">顧問税理士</label>
                        </dt>
                        <dd>吉川富造事務所<br />税理士　吉川富造</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">関連会社</label>
                        </dt>
                        <dd>
                            株式会社アスクリエイト<br />
                            株式会社アスウィル<br />
                            株式会社アステーブル
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}