{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1><img src="{{ asset('assets/img/guide_fv.png') }}"></h1>
        </div>

<div class="guide_title">ご注意</div>

<div class="guide_text">商品の店頭受け取りは下記店舗でのみ行っております。</div>

<div class="guide_text">王の洞窟 岐南本店<br>
〒501-6017 岐阜県羽島郡岐南町徳田西1-27</div>

<div class="guide_title">注文の仕方</div>

<div class="guide_text">店頭受取が可能な支払方法は「クレジットカード決済」「AmazonPay決済」のみです。

上記購入方法を選択した上で、配送方法に「店頭受取」をお選びください。</div>

<div class="guide_title">受け取り方</div>

<div class="guide_text">商品を店頭でお渡しする準備が整いましたら、受取番号が記載されたメールを送らせて頂きます。

トレカ通販の商品を受け取りに来たことをレジのスタッフに伝えて、お持ちのスマホで受取番号のメールを表示させてご提示ください。</div>

    </div>
{% endblock %}