<div class="side_bar">
    <img class="side_img" src="{{ asset('assets/img/top/payment.png') }}">
    <img class="side_img" src="{{ asset('assets/img/top/amazonpay.png') }}">
    <a href="https://ounodoukutsu.jp/delivery/"><img class="side_img" src="{{ asset('assets/img/top/kaitori.png') }}"></a>
    <a href="https://ounodoukutsu.jp/shop_toreca/entry/"><img class="side_img" src="{{ asset('assets/img/top/member.png') }}"></a>
</div>