{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

        <div class="ec-topicRole__list">
            <a href=/shop_toreca/guide/><div class="ec-topicRole__listItem scrole">
                <p class="ec-topicRole__listItemTitle">{{ 'ご利用方法'|trans }}</p>
            </div></a>
            <!--<a href=/shop_toreca/user_data/store_pickup/>--><div class="ec-topicRole__listItem scrole">
                <p class="ec-topicRole__listItemTitle">{{ '店舗受取(準備中)'|trans }}</p>
            </div><!--</a>-->
            <a href="https://ounodoukutsu.jp/delivery_toreca/"><div class="ec-topicRole__listItem scrole">
                <p class="ec-topicRole__listItemTitle">{{ '買取情報'|trans }}</p>
            </div></a>
        </div>